<!DOCTYPE html>
<!-- th를 붙이는 것이 thyleaf를 사용하는 것. jsp가 서서히 thyleaf로 대체되는 중 -->
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1>Hello Fullstack BackEnd study</h1>
        <h3>User Application</h3>
        <nav>
            <ul>
                <li><a href="members/new"/>SignUp</li>
                <li><a href="members"/>User List</li>
            </ul>
        </nav>
    </div>
</body>
</html>