<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1>Hello Fullstack BackEnd study</h1>
        <h3>User Application</h3>
        <nav>
            <ul>
                <li><a href="users/new"/>Add User</li>
                <li><a href="users"/>User List</li>
            </ul>
            <ul>
                <li><a href="products/new"/>Add Products</li>
                <li><a href="products"/>product List</li>
            </ul>
        </nav>
    </div>
</body>
</html>